{% extends "base.twig" %}

{% block content %}
    <h1>Restricted access</h1>
    <h2>
        Hi {{ name }} !
    </h2>

    <p>
        This page is only accessible to authenticated users.
    </p>
{% endblock %}
